p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    margin-top: 50px;
}

.btn-red {
    --background:RED;
}
.btn-search{
    width: 400px;
    margin-left: 400px;
}
.addsearch{
    margin-top: 70px;
}
